<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table,tr,td,th{
            border: 1px solid hsl(206, 83%, 56%);
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Users</th>
            <th>Email</th>
            <!-- <th>Password</th> -->
            <th>Edit User</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td><%= user.userId %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
                <!-- <td><%= user.password %></td> -->
                <td>
                    <form method="get" action="/user/<%= user.userId %>/edit">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>

