<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chats</title>
</head>
<body>
    <h2>Edit Your Chat : <%= chat._id %></h2>

    <p>This chat was sent from <b><%= chat.from %> to <%= chat.to %></b></p>

    <form action="/chats/<%= chat._id%>?_method=PUT" method="post">

        <textarea name="msg" rows="6" cols="50">
            <%= chat.msg %>
        </textarea>

        <br>

        <button>Edit</button>

    </form>
</body>
</html>